:root {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.thumbnail-container img:hover {
    cursor: pointer;
}

input {
    display: block;
    margin: 0 auto;
}

#home-page-container {
    position: relative;
}

#update-modal {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.914);
    height: 50vh;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}