:root {
    text-align: center;
}

body {
    margin: 0 0 1em;
    max-width: 1600px;
}

input,
textarea,
button {
    display: block;
    margin: 0 auto;
}

.header {
    font-size: clamp(18px, 4vw, 48px);
}

.font-clamp {
    font-size: clamp(12px, 3vw, 24px);
}

@media (width > 540px) {
    .font-clamp {

        font-size: clamp(18px, 2vw, 32px);
    }
}

@media (width > 540px) {
    .font-clamp {
        font-size: clamp(18px, 2vw, 20px);
    }
}